######################################################
# .gitignore create by Kamontat Chantrachirathumrong #
######################################################

######################################################
### Node templates                                 ###
######################################################

# Dependency directories
node_modules/

# Yarn Integrity file
.yarn-integrity

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

######################################################
### Nuxt templates                                 ###
######################################################

# nuxt.js build output
.nuxt

# Nuxt generate
dist

# Optional eslint cache
.eslintcache

# parcel-bundler cache (https://parceljs.org/)
.cache

######################################################
### Document generator templates                   ###
######################################################

gh-pages/.vuepress/dist
gh-pages/redirect.html

######################################################
### Testing Framework templates                    ###
######################################################

# Coverage directory used by tools like istanbul
coverage

# Cypress reports
cypress/reports
cypress/html-report
cypress/html
cypress/videos
cypress/screenshot

######################################################
### Personal Configuration                         ###
######################################################

# dotenv environment variables file
.env

sw.*

