@import './variable.scss';

// ***************************************
// ***************************************
// Custom dark color
// ***************************************
// ***************************************

// ***************************************
// Custom color
// ***************************************

$white: hsl(0, 0%, 5%);
$white-bis: hsl(0, 0%, 10%);
$white-ter: hsl(0, 0%, 18%);

$black-ter: hsl(0, 0%, 88%);
$black-bis: hsl(0, 0%, 92%);
$black: hsl(0, 0%, 98%);

$grey-darker: hsl(0, 0%, 21%);
$grey-dark: hsl(0, 0%, 29%);
$grey: hsl(0, 0%, 48%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);

$orange: hsl(14, 100%, 53%);
$yellow: hsl(48, 100%, 67%);
$green: hsl(141, 71%, 48%);
$turquoise: hsl(171, 100%, 41%); // สีเขียวขุ่น
$cyan: hsl(204, 86%, 53%);
$blue: hsl(217, 71%, 53%);
$purple: hsl(271, 100%, 71%);
$red: hsl(348, 100%, 61%);

// ***************************************
// Define color
// ***************************************

$primary: #4C9AB9;
$secondary: #FE5BAC;

$info: $blue;
$success: #2CBE4E;
$warning: $yellow;
$danger: #FF0000;

$light: $grey-darker;
$dark: $black-ter;

$fav-net: #E60000;
$fav-prang: #FFD300;

// ***************************************
// Invert colors
// ***************************************

$primary-invert: $turquoise-invert;
$secondary-invert: $orange-invert;
$info-invert: $cyan-invert;
$success-invert: $green-invert;
$warning-invert: $yellow-invert;
$danger-invert: $red-invert;
$light-invert: $dark;
$dark-invert: $light;

// ***************************************
// General colors
// ***************************************

$background: $white-ter;

$border: $grey-lighter;
$border-hover: $grey-light;

// ***************************************
// Link colors
// ***************************************

$link: $blue;
$link-invert: $blue-invert;
$link-visited: $purple;

$link-hover: $grey-darker;
$link-hover-border: $grey-light;

$link-focus: $grey-darker;
$link-focus-border: $blue;

$link-active: $grey-darker;
$link-active-border: $grey-dark;

// ***************************************
// Text colors
// ***************************************

$text: $black-bis;
$text-invert: findColorInvert($text);
$text-light: $black;
$text-strong: $grey-dark;

$title-color: $black-bis;
$subtitle-color: $black-ter;

// ***************************************
// ***************************************
// end custom dark color
// ***************************************
// ***************************************

@import '~assets/css/bulma.scss';
