@import './variable.scss';

// ***************************************
// ***************************************
// Custom light color
// ***************************************
// ***************************************

// ***************************************
// Custom color
// ***************************************

$black: hsl(0, 0%, 4%);
$black-bis: hsl(0, 0%, 7%);
$black-ter: hsl(0, 0%, 14%);
$grey-darker: hsl(0, 0%, 21%);
$grey-dark: hsl(0, 0%, 29%);
$grey: hsl(0, 0%, 48%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);
$white-ter: hsl(0, 0%, 96%);
$white-bis: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$orange: hsl(14, 100%, 53%);
$yellow: hsl(48, 100%, 67%);
$green: hsl(141, 71%, 48%);
$turquoise: hsl(171, 100%, 41%);
$cyan: hsl(204, 86%, 53%);
$blue: hsl(217, 71%, 53%);
$purple: hsl(271, 100%, 71%);
$red: hsl(348, 100%, 61%);

// ***************************************
// Define color
// ***************************************

$primary: #4C9AB9;
$secondary: #FE5BAC;

$info: $blue;
$success: #96DFA9;
$warning: $yellow;
$danger: #FF6666;

$light: $white-ter;
$dark: $grey-darker;

$fav-net: #FF3333;
$fav-prang: #FFE97F;

// ***************************************
// Invert colors
// ***************************************

$primary-invert: $turquoise-invert;
$secondary-invert: $orange-invert;
$info-invert: $cyan-invert;
$success-invert: $green-invert;
$warning-invert: $yellow-invert;
$danger-invert: $red-invert;
$light-invert: $dark;
$dark-invert: $light;

// ***************************************
// General colors
// ***************************************

$background: $white-ter;

$border: $grey-lighter;
$border-hover: $grey-light;

// ***************************************
// Link colors
// ***************************************

$link: $blue;
$link-invert: $blue-invert;
$link-visited: $purple;

$link-hover: $grey-darker;
$link-hover-border: $grey-light;

$link-focus: $grey-darker;
$link-focus-border: $blue;

$link-active: $grey-darker;
$link-active-border: $grey-dark;

// ***************************************
// Text colors
// ***************************************

$text: $grey-dark;
$text-invert: findColorInvert($text);
$text-light: $grey;
$text-strong: $grey-darker;

// ***************************************
// ***************************************
// end custom light color
// ***************************************
// ***************************************

@import '~assets/css/bulma.scss';
