@import url('https://fonts.googleapis.com/icon?family=Material+Icons'); // material icon

// @import url('https://fonts.googleapis.com/css?family=K2D'); // default google font

@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz'); // default google font

@import url('https://fonts.googleapis.com/css?family=Srisakdi'); // Thai google font
@import url('https://fonts.googleapis.com/css?family=Lobster'); // English google font

// default font family
$body-font-family = 'Yanone Kaffeesatz', Roboto, sans-serif;

.th {
  font-family: 'Srisakdi', Roboto, sans-serif !important; // whatever font-family you want to use
}

.en {
  font-family: 'Lobster', Roboto, sans-serif !important; // whatever font-family you want to use
}

// Import Vuetify styling
@require '~vuetify/src/stylus/main'
