@import url('https://fonts.googleapis.com/css?family=K2D');

$body-font-family = 'K2D', Roboto, sans-serif; // whatever font-family you want to use

// Import Vuetify styling
@require '~vuetify/src/stylus/main'