@import url('https://fonts.googleapis.com/css?family=K2D'); // google font
@import url('https://fonts.googleapis.com/icon?family=Material+Icons'); // material icon

$body-font-family = 'K2D', Roboto, sans-serif; // whatever font-family you want to use

// Import Vuetify styling
@require '~vuetify/src/stylus/main'