@import url('https://fonts.googleapis.com/css?family=K2D');

$body-font-family = 'K2D', Roboto, sans-serif; // whatever font-family you want to use

@import '~vuetify/src/stylus/main'
// For a-la-carte
@import '~vuetify/src/stylus/app'